/* Fondo de página gris más claro y eliminación de márgenes */
body {
  background-color: #f5f5f5; /* Gris más claro */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado para que se acerque más a la parte superior */
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente utilizada aquí */
}

/* Contenedor centrado al 70% con borde de 2px y esquinas redondeadas */
.container {
  width: 90%;
  border: 4px solid #000;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo con transparencia */
  box-sizing: border-box;
  border-radius: 15px; /* Esquinas redondeadas */
}

/* Estilos para cada sección */
header, section, article, footer {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo transparente para las secciones */
}

header {
  background-color: rgba(245, 245, 245, 0.7); /* Fondo transparente para el header */
}

footer {
  background-color: rgba(245, 245, 245, 0.7); /* Fondo transparente para el footer */
  border-bottom: none;
  padding: 10px 0; /* Espaciado adicional en el pie de página */
}

/* Estilos del menú en el pie de página */
.footer-menu {
  list-style-type: none; /* Eliminar los puntos de la lista */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Alineación horizontal al centro */
  align-items: center; /* Alineación vertical al centro */
}

.footer-menu li {
  margin: 0 15px; /* Espaciado entre los elementos */
}

.footer-menu a {
  text-decoration: none; /* Eliminar subrayado */
  color: #000; /* Color del texto */
  font-weight: bold;
}

.footer-menu li:not(:last-child)::after {
  content: "|"; /* Barra vertical entre los elementos */
  margin-left: 15px; /* Espaciado entre la palabra y la barra */
  margin-right: 15px; /* Espaciado entre la barra y la siguiente palabra */
}

.footer-menu a:hover {
  color: #007bff; /* Color al pasar el ratón sobre el enlace */
}

/* Opcional: eliminar el borde inferior en el último elemento si se desea */
article {
  border-bottom: none;
}
